drawer{ 
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 371px;
height: 603px;
left: 0px;
top: 574px;

background: #FFFFFF;
}

testoh{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 1077px;
    height: 169px;


/* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}