body {
  margin: 0;
  
}

html{
  font-size:100%;
}

div.drawer{
  font-size:34px;
  color: white;
  font-weight: 900;
  line-height: 1.2;
  text-align: left;
}

.sfondi{
  object-fit:"cover";
  -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto; 
    text-align: center;
}

img {max-width:100%;}

.titolodrawer{
  font-size:34px;
  color: white;
  font-weight: 900;
  line-height: 1.2;
  text-align: left;
}

.footer{
  font-size: 13px;
}

div.list{
  color: #484848;
  font-size:20px;
  font-weight: 700;
}

div.s900{
  color: white;
  font-size: 90px;
  font-weight: 900;
}


div.s700{
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 16px;
}

div.s600{
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 16px;
}

.titolocard{
  color: white;
  font-size: 20px;
  font-weight: 700;
}

div.s400{
  color: white;
  font-size: 16px;
  font-weight: 400;
  margin: auto;
  padding: 16px;
}

div.button{
  color: white;
  font-size: 16px;
  font-weight: 400;
}

.photo{
  height: 60px;
  width: 180px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logounige{
  height: 50px;
  width: 140px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.foto{ 
  height: 350px;
  background-repeat: 'no-repeat';
  background-size: 'contain';
}

.mappa{
  width: 800px;
  height: 400px;
}

.beiguapano{
  width: 800px;
  height: 400px;
}

.titolo{
  font-size: 80px;
  color:white;
  text-align:left;
  position:absolute;
  top:10;
  bottom: 0;
  left:10;
  right:10;
  height:fit-content;
  margin:auto;
  padding-left: 5%;
}

.fotodocumento{
  width: 450px;
  height: 600px;
}

.cava{
  width: 800px;
  height: 400px;
}

.panoalbero{
  width: 800px;
  height: 400px;
}

.fotooratoccate{
  width: 1000px;
}

.row{
  display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-orient: horizontal; 
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    flex-direction: row;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    justify-content: center;

    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;  
    align-items: center;

}

.centro{
  padding-left: 16%;
}



testoh{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 1077px;
  height: 169px;


/* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}




@media(max-width: 414px) { 
  div.s900 {font-size: 34px;}
  div.s700{font-size:13px;}
  .foto{width:300px;height: 200px;text-align:center;}
  .photo{width: 100px;height: 50px;}
  .logounige{width: 110px;height: 45px;}
  .cava{width: 300px;height: 200px;}
  .beiguapano{width: 300px;height: 200px;}
  .mappa{width: 300px;height: 200px;}
  .panoalbero{width: 300px; height: 200px;}
  /*div.s700 {font-size: 15px;} 
  div.s400 {font-size: 10px;}*/
  div.drawer{ display: none }
  } 

  
  @media(max-width: 700px) and (min-width:415px){ 
  div.s900 {font-size:50px;}
  .foto{width:500px;height: 300px;}
  /*div.s700 {font-size: 25px;} 
  div.s400 {font-size: 20px;}*/
  div.drawer{ display: none }

  } 
   