body {
  margin: 0;
  
}

html{
  font-size:100%;
}

div.s900{
  color: white;
  font-size: 90px;
  font-weight: 900;
}


div.s700{
  color: white;
  font-size: 20px;
  font-weight: 700;
}

div.s400{
  color: white;
  font-size: 16px;
  font-weight: 400;
}

.photo{
  height: 60px;
  width: 200px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}


@media(max-width: 414px) { 
  div.s900 {font-size: 30px;} 
  /*div.s700 {font-size: 15px;} 
  div.s400 {font-size: 10px;}*/
  } 

  
  @media(max-width: 700px) and (min-width:415px){ 
  div.s900 {font-size:50px;}
  /*div.s700 {font-size: 25px;} 
  div.s400 {font-size: 20px;}*/
  } 
   