body {
  margin: 0;
  
}

html{
  font-size:100%;
}

div.drawer{
  font-size:34px;
  color: white;
  font-weight: 900;
  line-height: 1.2;
  text-align: left;
}

.footer{
  font-size: 13px;
}

div.list{
  color: #484848;
  font-size:20px;
  font-weight: 700;
}

div.s900{
  color: white;
  font-size: 90px;
  font-weight: 900;
}


div.s700{
  color: white;
  font-size: 20px;
  font-weight: 700;
}

div.s400{
  color: white;
  font-size: 16px;
  font-weight: 400;
}

.photo{
  height: 60px;
  width: 200px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.foto{
  width: 900px; 
  height: 350px;
}



testoh{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 1077px;
  height: 169px;


/* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}




@media(max-width: 414px) { 
  div.s900 {font-size: 30px;}
  .foto{width:300px;height: 200px;} 
  .photo{width: 100px;height: 50px;}
  /*div.s700 {font-size: 15px;} 
  div.s400 {font-size: 10px;}*/
  } 

  
  @media(max-width: 700px) and (min-width:415px){ 
  div.s900 {font-size:50px;}
  .foto{width:500px;height: 300px;}
  /*div.s700 {font-size: 25px;} 
  div.s400 {font-size: 20px;}*/
  } 
   